{% extends "masterLayout.twig" %}

{% block title %}Blog{% endblock %}

{% block titlePage %}
	<a href="{{ path('article', {article_id: article.id}) }}">{{ article.title }}</a>
{% endblock %}

{% block content %}
		<h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
		<p>
			{{ article.content }}
		</p>
{% endblock %}