{% extends "masterLayout.twig" %}

{% block title %}Blog{% endblock %}

{% block titlePage %}Blog{% endblock %}

{% block content %}
	<div class="col-sm-8 blog-main">
		<h2>All Articles</h2>
		{% for article in articles %}
			<div class="blog-post">
				<h3 class="blog-post-title"><a href="{{ path('article', {article_id: article.id}) }}">{{ article.title | title }}</a></h3>
				<p class="blog-post-meta">by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}
				{% if user_id == article.author.Id %}
					<a href="{{ path('editArticle', {article_id: article.id}) }}">Editar</a>
				{% endif %}
				</p>
				<p>
					{% if article.content | length > 100 %}
						{{ article.content | slice(0,100) }}
						<a href="{{ path('article', {article_id: article.id}) }}">more&hellip;</a>
					{% else %}
						{{ article.content }}
					{% endif %}
				</p>
			</div>
		{% else %}
			<p>There are no articles to show</p>
		{% endfor %}
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset">
			<h3>Global Ranking</h3>
			<ol class="list-unstyled">
				{% for article in rankingGlobal %}
					<li>
						<a href="{{ path('article', {article_id: article.id}) }}">
							{{ article.title | title }}
						</a>
					</li>
				{% else %}
					<li><p>There are no articles to show</p></li>
				{% endfor %}
			</ol>
		</div>
		{% if logged %}
			<div class="sidebar-module sidebar-module-inset">
				<h3>User Ranking</h3>
				<ol class="list-unstyled">
					{% for article in rankingUser %}
						<li>
							<a href="{{ path('article', {article_id: article.id}) }}">
								{{ article.title | title }}
							</a>
						</li>
					{% else %}
						<li><p>There are no articles to show</p></li>
					{% endfor %}
				</ol>
			</div>
			<div class="sidebar-module sidebar-module-inset">
				<h3>Author Ranking</h3>
				<ol class="list-unstyled">
					{% for article in rankingAuthor %}
						<li>
							<a href="{{ path('article', {article_id: article.id}) }}">
								{{ article.title | title }}
							</a>
						</li>
					{% else %}
						<li><p>There are no articles to show</p></li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	</div>

{% endblock %}

